@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: "open sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background: url('subtle-prism.svg');
}

.header {
    margin: 0 auto;
    text-align: center;
}

#hero-description {
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
}

.container-inputs {
    margin: auto;
    margin-top: 1.5rem;
}

label {
    display: block;
    margin: auto;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#input-date {
    display: block;
    height: 3rem;
    width: 15rem;
    margin: 0.5rem auto;
    font-size: 1.2rem;
    text-align: center;
}

#input-lucky-number {
    display: block;
    text-align: center;
    height: 3rem;
    width: 14.78rem;
    margin: 0.5rem auto;
    font-size: 1.2rem;
}

#button-check {
    display: block;
    color: white;
    height: 3rem;
    width: 12rem;
    margin: 1.5rem auto 0rem auto;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    background-color: #15B097;
}

#message-final {
    font-size: 1.75rem;
    display: block;
    margin: auto;
    margin-top: 0;
    color: black;
    padding: 0.5rem;
    text-align: center;
}

footer {
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #1C8784;
    background: #a7e7e5;
}

footer h2 {
    text-align: center;
    display: block;
    font-size: 1.75rem;
}

footer a {
    color: black;
    text-decoration: none;
}

footer ul {
    padding-inline-start: 0;
}

footer img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0rem 1rem;
}